
#first {
    min-width: 100%;
    min-height: 50px;
        /* display: block; */
}

        #second {
    min-width: 100%;
    min-height: 50px;
        /* display: block; */
}
      
      .polo{
        border-radius: 5px;
      }
      .s {
        background-color: rgb(224, 216, 245);
      }
      
    .grid  {
      display: "flex";
      display: "inline-grid col-2";
    }
    .button {
      margin: "10px";
      border: "dark-black";
      border-radius: 5%;
    }
    .add{
      border-radius: 20%;
      size: 2cm;
    }
a.section:link {
  color: rgb(27, 24, 24);
  text-decoration: none;
  border: 2px solid #0b0a0a;
  display: inline-block;
  padding: 3px;
}
a.section:visited {
  color: rgb(14, 14, 14);
  padding: 3px;
  border: px solid #0e0d0d;
  text-decoration: none;
  display: inline-block;
  
}
a.section:hover {
  color: rgb(243, 230, 230);
  background-color: #0b0a0a;
  text-decoration: none;
}
a.section:active {
  color: blue;
  text-decoration: none;
}